.nav-section ul {
  display: flex;
  margin-left: 16px;
  overflow-x: scroll;
  gap: 19px;
  position: relative;
  padding-left: 0px;
}
.nav-section li {
  list-style: none;
}
.nav-section li span {
  cursor: pointer;
}
.nav-section__item {
  flex: 1;
  min-width: max-content;
  padding: 8px 10px;
}
.nav-section__item span {
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.nav-section__item.active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background-color: white;
}
@media (min-width: 767px) {
  .nav-section {
    margin-top: 16px;
  }
}
@media (min-width: 1096px) {
  .nav-section::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1119px) {
  .nav-section__item {
    flex: 1;
    min-width: max-content;
    padding: 8px 18px;
    text-align: center;
  }
  .nav-section {
    margin-left: 0px;
    margin-top: -11px;
    gap: 0px;
  }
  .nav-section__item span {
    text-align: center;
  }
}
@media (hover: hover) {
  .nav-section ul::-webkit-scrollbar {
    background-color: #b8ffec;
    cursor: pointer;
    height: 7px;
  }
  .nav-section ul::-webkit-scrollbar-track {
    background-color: white;
    width: 1px;
    opacity: 0.5;
  }
  .nav-section ul::-webkit-scrollbar-thumb {
    background-color: #8b008b;
    filter: brightness(200%);
    cursor: pointer;
  }
}
