@import "container.css";
@import "header.css";
@import "reviews.css";


@font-face {
  font-family: "lakes_my";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lakes_mybold";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: lakes_my;
  background-color: #f8f8f8;
}

.hidden-item {
  display: none;
}

.wrapper-thin {
  width: 288px;
}

.stroke-item {
  position: relative;
}
.stroke-item:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

.nav-section ul {
  display: flex;
  margin-left: 16px;
  overflow-x: scroll;
  gap: 19px;
  position: relative;
  padding-left: 0px;
}
.nav-section li {
  list-style: none;
}
.nav-section li span {
  cursor: pointer;
}
.nav-section__item {
  flex: 1;
  min-width: max-content;
  padding: 8px 10px;
}
.nav-section__item span {
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.nav-section__item.active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background-color: white;
}
.main {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.main-content {
  align-self: center;
}
.main-content__descr--first p {
  color: #1b1c21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
}
.main-content__descr--next {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -14px;
  margin-bottom: 4px;
}
.main-content__descr--next p {
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  -webkit-text-stroke-width: 0.3px;
}
.main-content__descr--next-icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.main-picture {
  width: 100%;
}
.main-picture img {
  width: 100%;
}
.hidden-text {
  display: none;
}
.main-content__descr--next-icon,
.main-content__descr--next p {
  cursor: pointer;
}
@media (min-width: 360px) {
  .wrapper-thin {
    width: auto;
  }
}
@media (min-width: 767px) {
  .hidden-item {
    display: block;
  }
  .hidden-item:nth-child(3) {
    margin-right: 20px;
  }
  .nav-section {
    margin-top: 16px;
  }
  .main {
    flex-direction: row;
    margin-top: 32px;
  }
  .main-content__item {
    flex: 1;
  }
  .main-content__descr--first {
    width: 87.5%;
  }
}
@media (min-width: 1096px) {
  .nav-section::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1119px) {
  .nav-section__item {
    flex: 1;
    min-width: max-content;
    padding: 8px 18px;
    text-align: center;
  }
  .nav-section {
    margin-left: 0px;
    margin-top: -11px;
    gap: 0px;
  }
  .main {
    margin-top: 0px;
  }
  .main-content {
    align-self: self-start;
  }
  .hidden-text {
    display: contents;
  }
  .main-content__descr--first {
    width: 94.5%;
  }
  .main-content__descr--first p {
    line-height: 20px;
  }
  .hidden-item {
    margin-top: 18px;
  }
  .nav-section__item span {
    text-align: center;
  }
}
@media (hover: hover) {
  .nav-section ul::-webkit-scrollbar {
    background-color: #b8ffec;
    cursor: pointer;
    height: 7px;
  }
  .nav-section ul::-webkit-scrollbar-track {
    background-color: white;
    width: 1px;
    opacity: 0.5;
  }
  .nav-section ul::-webkit-scrollbar-thumb {
    background-color: #8b008b;
    filter: brightness(200%);
    cursor: pointer;
  }
}
